In [20]:
import pandas as pd
import numpy as np

## Can. Parl. Dataset

### CSV

In [4]:
data_file = '../DG_data/CanParl/ml_CanParl.csv'

In [7]:
data_df = pd.read_csv(data_file)
data_df = data_df.drop(axis=1, columns=['Unnamed: 0'])
data_df

         u    i           ts  label    idx
0      384  353          0.0    0.0      1
1      411  353          0.0    0.0      2
2      676  353          0.0    0.0      3
3      467  353          0.0    0.0      4
4      120  353          0.0    0.0      5
...    ...  ...          ...    ...    ...
74473  695  398  410227200.0    0.0  74474
74474  355  398  410227200.0    0.0  74475
74475  444  398  410227200.0    0.0  74476
74476   98  398  410227200.0    0.0  74477
74477  542  398  410227200.0    0.0  74478

[74478 rows x 5 columns]

In [9]:
data_df['ts'].value_counts().sort_index()

0.0            3734
31536000.0     5501
63072000.0     3682
94694400.0     5130
126230400.0    4409
157766400.0    3109
189302400.0    8334
220924800.0    6631
252460800.0    7729
283996800.0    4297
315532800.0    4844
347155200.0    6965
378691200.0    7015
410227200.0    3098
Name: ts, dtype: int64

In [15]:
(data_df['ts'] / 3600 / 24 // 365).value_counts().sort_index()

0.0     3734
1.0     5501
2.0     3682
3.0     5130
4.0     4409
5.0     3109
6.0     8334
7.0     6631
8.0     7729
9.0     4297
10.0    4844
11.0    6965
12.0    7015
13.0    3098
Name: ts, dtype: int64

### NumPy

In [22]:
data_file = '../DG_data/enron/ml_enron.npy'
node_file = '../DG_data/enron/ml_enron_node.npy'

In [29]:
data = np.load(data_file)
data.shape, np.all(data==0)

((125236, 32), True)

In [28]:
node = np.load(node_file)
node.shape, np.all(node==0)

((185, 32), True)

## enron Dataset

In [16]:
data_file = '../DG_data/enron/ml_enron.csv'

In [17]:
data_df = pd.read_csv(data_file)
data_df = data_df.drop(axis=1, columns=['Unnamed: 0'])
data_df

          u    i           ts  label     idx
0       115  170          0.0      0       1
1       115  170          0.0      0       2
2       115  124     529920.0      0       3
3       115  124     529920.0      0       4
4       115  124     533820.0      0       5
...     ...  ...          ...    ...     ...
125230   18   18  113717323.0      0  125231
125231  163   18  113733034.0      0  125232
125232  163  156  113733034.0      0  125233
125233  163  166  113733034.0      0  125234
125234   18   18  113740399.0      0  125235

[125235 rows x 5 columns]

In [18]:
(data_df['ts']).value_counts().sort_index()

0.0             2
529920.0        2
533820.0        4
944160.0       14
1466100.0       8
               ..
113564563.0     1
113717004.0     1
113717323.0     1
113733034.0     3
113740399.0     1
Name: ts, Length: 22632, dtype: int64